#wrapper{
	width: 85%;
	height: 1500px;
	background: --yellow;
	position: relative;
	margin: auto;
}

#wallpaper{
	position: relative;
	margin: auto;
	width: 100%;



}
#menu{
	width: 100%;
	height: 60px;
	background: red;
	position: absolute;
}

#abt{
	width: 90%;
	height: 300px;
	background: ---green;
	position: absolute;
	left: 80px;
	top: 90px;
}

#bio{
	width: 800px;
	height: 900px;
	background: ---orange;
	position: absolute;
	left: 400px;
	top: 480px;
	color: white;
	font-family: Bangers;
	font-size: 40px;


}

.text_paragraph >p{
    -webkit-animation: fadi 5s 1;
}
@-webkit-keyframes fadi {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes fadi {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}



#foot{
	width: 100%;
	height: 60px;
	position: absolute;
	top: 1500px;
	background: blue;
}
#prf{
	width: 200px;
	height: 200px;
	background: ---brown;
	position: absolute;
	border-radius: 100%;
	top: 35px;
	left: 70px;
}

#fb{

	margin-left: 400px;
	margin-top: -180px;
	position: absolute;

}

#ig{
	margin-left: 600px;
	margin-top: -180px;
	position: absolute
}

#tw{
	margin-left: 800px;
	margin-top: -180px;
	position: absolute


}

#ca{
	margin-left: 1000px;
	margin-top: -180px;
	position: absolute


}

#me{
	border-radius: 100%
}