#wrapper{
	width: 85%;
	height: 1500px;
	background: --yellow;
	position: relative;
	margin: auto;
}

img {
	width: 100%;
	height: 100%;

}
#tn p{
	font-size: 75px;
	font-family: Rokkitt;
	margin-left: 200px;
	margin-top: -70px;
	color: green;

}
#logo{
	width: 40px;
	height: 40px;
	position: absolute;
	margin-top: -140px;
	margin-left: 420px;
}
#search{
	z-index: 0;
	width: 1100px;
	margin-top: -62.52px;
	margin-left: 493px;
}
#menu{
	width: 100%;
	height: 63.5px;
	background:---red;
	position: absolute;
	z-index: 3;
	
}
/* MOBILE MENU */
.mob {
	display: inline;


}

/*START*/

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 24px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.mob {
    position: relative;
    display: inline-block;
    margin-left: 0px;

}

.mob-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.mob-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.mob-content a:hover {background-color: #f1f1f1}

.mob:hover .mob-content {
    display: block;
}

.mob:hover .dropbtn {
    background-color: #3e8e41;
}


/* ENDING MOBILE MENU */
#abt{
	width: 90%;
	height: 300px;
	background: ---green;
	position: absolute;
	left: 80px;
	top: 90px;
}

#bio{
	width: 800px;
	height: 900px;
	background: ---orange;
	position: absolute;
	left: 400px;
	top: 480px;
	color: white;
	font-family: Bangers;
	font-size: 40px;


}

#bio {
    -webkit-animation: fadi 5s 1;
}
@-webkit-keyframes fadi {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes fadi {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}



#foot{
	width: 100%;
	height: 60px;
	position: absolute;
	top: 1500px;
	background: blue;
}
#prf{
	width: 200px;
	height: 200px;
	background: ---brown;
	position: absolute;
	border-radius: 100%;
	top: 35px;
	left: 70px;
}

#fb{

	margin-left: 400px;
	margin-top: -180px;
	position: absolute;

}

#ig{
	margin-left: 600px;
	margin-top: -180px;
	position: absolute
}

#tw{
	margin-left: 800px;
	margin-top: -180px;
	position: absolute


}

#ca{
	margin-left: 1000px;
	margin-top: -180px;
	position: absolute


}

#me{
	border-radius: 100%
}